{% extends 'recipes/recipeListBase.html.twig' %}

{% block recipeList %}
    {% for recipe in recipes %}
        <a href="{{ path('recipe_detail', { 'id': recipe.id }) }}">{{ recipe.name }}</a><br>
    {% endfor %}
{% endblock %}