{% extends 'base.html.twig' %}

{% block body %}
    <input id='recipeName' type='text' class="form-control" placeholder='Recipe Name'>
    <hr>
    <form class="form-inline" role="form">
        <div id="ingredientList">
                <div id='ingredient0' class="form-group" style="display: none;">
                        <input type='text' class='amount form-control' placeholder='amount' oninput="checkIsLast(this);">
                        <input type='text' class='unit form-control' placeholder='unit' oninput="checkIsLast(this);">
                        <input type='text' class='name form-control' placeholder='name' oninput="checkIsLast(this);">
                </div>
        </div>
    </form>
    <hr>
    <form class="form-inline" role="form">
        <div id="stepList">
                <div id='step0' style="display: none;">
                        <textarea rows='4' cols='50' class="form-control" oninput="checkIsLast(this);"></textarea>
                </div>
        </div>
    </form>
    <button class="btn btn-default" onclick="save();">Save</button>
    <p></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        var loadFinished = false;
        $(document).ready(function() {
            addIngredient();
            addStep();
            
            $('#ingredientList').bind('addNew', function() {
                addIngredient();
            });
            
            $('#stepList').bind('addNew', function() {
                addStep();
            });
            
            loadFinished = true;
        });
        
        function checkIsLast(sender) {
            var rowItem = $(sender).parent();
            if (rowItem.is(':last-child')) {
                rowItem.parent().trigger('addNew');
            }
        }
        
        function removableClonedFrom(template) {
            var newItem = template.clone();
            newItem.removeAttr('id');
            if (loadFinished == true) newItem.append("<button onclick='removeClicked(this);' class='btn btn-default'>&times</button>");
            newItem.show();
            return newItem;
        }
        
        function addIngredient() {
            var newIngredient = removableClonedFrom( $("#ingredient0") );
            newIngredient.addClass('ingredientListItem');
            $("#ingredientList").append(newIngredient);
        }
        
        function addStep() {
            var newStep = removableClonedFrom( $("#step0") );
            newStep.addClass('stepListItem');
            $("#stepList").append(newStep);
        }
        
        function removeClicked(sender) {
            $(sender).parent().remove();
        }
        
        function newRecipe(name) {
            return {name:name, ingredients:[], steps:[]};
        }
        
        function newIngredient(amount, unit, name) {
            return {amount:amount, unit:unit, name:name};
        }
        
        function save() {
            var recipe = newRecipe($("#recipeName").val());
            $(".ingredientListItem").each(function() {
                var amountVal = $(this).children(".amount").val();
                var unitVal = $(this).children(".unit").val();
                var nameVal = $(this).children(".name").val();
                
                if (amountVal != '' || unitVal != '' || nameVal != '') {
                    var ingredient = newIngredient(amountVal, unitVal, nameVal);
                    recipe.ingredients.push(ingredient);
                }
            });
            $(".stepListItem").each(function() {
                var step = $(this).children("textarea").val();
                if (step != '') recipe.steps.push(step);
            })
            
            $.ajax({
                url:"{{ path("save_recipe") }}",
                type: 'post',
                data: JSON.stringify(recipe),
                contentType: 'application/json',
                dataType: 'json',
                success: function(result) {
                    $("p").html(result.hello);
                }
            });
        }
    </script>
{% endblock %}