{% extends 'base.html.twig' %}

{% block body %}
    {% for ingredient in recipe.ingredients %}
        {{ ingredient.amount }} {{ ingredient.measure }} {{ ingredient.fooditem.name }}<br>
    {% endfor %}
    <hr>
    {% for step in recipe.steps %}
        <p>{{ step }}</p>
    {% endfor %}
{% endblock %}